.chocolate-light, [data-theme="chocolate-light"],
.chocolate-dark, [data-theme="chocolate-dark"] {
  --default: hsl(240, 5%, 84%);
  --primary: hsl(19, 15%, 38%);
  --secondary: hsl(26, 27%, 55%);
  --success: hsl(355, 55%, 87%);
  --warning: hsl(29, 50%, 44%);
  --danger: hsl(11, 42%, 39%);
}

.chocolate-light, [data-theme="chocolate-light"] {
  --foreground: hsl(19, 22%, 25%) !important;
  --app-background-rgb: 255, 251, 234 !important;
}

.chocolate-dark, [data-theme="chocolate-dark"] {
  --background: hsl(20, 28%, 18%) !important;
  --foreground: hsl(20, 100%, 90%) !important;
  --app-background: hsl(20, 100%, 8%) !important;
  --app-background-rgb: 41, 14, 0 !important;
}