.latte-light, [data-theme="latte-light"],
.latte-dark, [data-theme="latte-dark"] {
  --default: hsl(240, 5%, 84%);
  --primary: hsl(91, 43%, 37%);
  --secondary: hsl(78, 45%, 43%);
  --success: hsl(156, 80%, 43%);
  --warning: hsl(89, 18%, 66%);
  --danger: hsl(151, 49%, 14%);
}

.latte-light, [data-theme="latte-light"] {
  --foreground: hsl(91, 50%, 24%) !important;
  --app-background-rgb: 234, 251, 234 !important;
}

.latte-dark, [data-theme="latte-dark"] {
  --background: hsl(136, 28%, 18%) !important;
  --foreground: hsl(144, 100%, 90%) !important;
  --app-background: hsl(146, 100%, 8%) !important;
  --app-background-rgb: 0, 14, 0 !important;
}