[data-theme="matcha"] {
  --primary: oklab(62% -0.08 0.07);
  --secondary: oklab(78% -0.05 0.06);
  --success: oklab(65% -0.06 -0.02);
  --warning: oklab(80% 0.02 0.08);
  --danger: oklab(55% 0.1 0.04);
  --focus: oklab(62% -0.08 0.07);
  --foreground: oklab(30% -0.02 0.02);
  --background: oklab(97% -0.01 0.02);
  --color-playground-background: oklab(97% -0.01 0.02);
  --card: oklab(99% -0.005 0.01);
  --card-foreground: oklab(30% -0.02 0.02);
  --muted: oklab(90% -0.03 0.03);
  --border: oklab(82% -0.04 0.04);
  --input: oklab(82% -0.04 0.04);
}

[data-theme="matcha"]:not(.light) {
  &[data-theme].dark:not(.light),
  & .dark:not(.light),
  &:is(.dark:not(.light) *) {
    --foreground: oklab(90% -0.02 0.03);
    --background: oklab(18% -0.02 0.02);
    --color-playground-background: oklab(22% -0.02 0.02);
    --card: oklab(24% -0.02 0.02);
    --card-foreground: oklab(90% -0.02 0.03);
    --muted: oklab(35% -0.03 0.03);
    --border: oklab(40% -0.03 0.03);
    --input: oklab(40% -0.03 0.03);
  }
}
