.nextui-light, [data-theme="nextui-light"],
.nextui-dark, [data-theme="nextui-dark"] {
  --default: hsl(240, 5%, 84%);
  --primary: hsl(212, 100%, 47%);
  --secondary: hsl(270, 67%, 47%);
  --success: hsl(146, 79%, 44%);
  --warning: hsl(37, 91%, 55%);
  --danger: hsl(339, 90%, 51%);
}
.nextui-dark, [data-theme="nextui-dark"] {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(210, 6%, 93%);
  --app-background: hsl(0, 0%, 0%);
  --app-background-rgb: 0, 0, 0;
}
.nextui-light, [data-theme="nextui-light"] {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(202, 24%, 9%);
  --app-background: hsl(0, 0%, 100%);
  --app-background-rgb: 255, 255, 255;
}