.violet-light, [data-theme="violet-light"] {
  --default: hsl(267, 100%, 87%);
  --primary: hsl(248, 89%, 78%);
  --secondary: hsl(252, 100%, 88%);
  --success: hsl(115, 23%, 72%);
  --warning: hsl(27, 60%, 82%);
  --danger: hsl(343, 59%, 56%);
}

.violet-light, [data-theme="violet-light"] {
  --foreground: hsl(261, 22%, 25%) !important;
  --app-background-rgb: 242, 234, 255 !important;
  --app-background: rgb(var(--app-background-rgb)) !important;
}