@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@heroui/styles";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@source "../../node_modules/react-smooth-input/dist/**/*.{js,mjs}";

@layer base {
  @import "./themes/default.css";
  @import "./themes/chocolate.css";
  @import "./themes/heroui/theme.css";

  @import "./app.css";
  @import "./animation.css";

  [data-default-transition="true"],
  *:not([data-default-transition="false"]) {
    transition: 0.26s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      var(--font-ponlponl123-article), var(--font-sn-sanafon-maru-j30),
      sans-serif;
  }
  html {
    @apply overflow-x-hidden font-mono;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--background));
  }
}

@layer components {
  @import "./components/button.css";
  @import "./components/markdown.css";
  @import "./components/embla-carousel.css";
  @import "./components/header.css";
  @import "./components/footer.css";
  @import "./components/service-status.css";
  @import "./components/scroll-area.css";
}
