:root {
  color-scheme: light;
}
.dark, [data-theme="dark"] {
  color-scheme: dark;
}

*:not(.recharts-tooltip-wrapper *, svg, svg *) {
  @apply text-foreground;
}

.theme-preview {
  @apply w-80 h-48 border-3 border-foreground-300 rounded-xl mt-6 mx-auto;
}
.theme-preview > .tp-header {
  @apply w-full h-8 flex gap-2 p-3;
}
.theme-preview > .tp-body {
  @apply w-full flex flex-col gap-2 pt-4 px-6;
  height: calc(100% - 32px - 40px)
}
.theme-preview > .tp-footer {
  @apply w-full h-10 flex flex-col items-center justify-center gap-1 p-3;
}
.theme-preview .tp-chip {
  @apply w-4 h-3 bg-foreground-600 rounded-full;
}
.theme-preview .tp-chip.tp-chip-2-10 {
  @apply w-8 h-3;
}
.theme-preview .tp-chip.tp-chip-3-10 {
  @apply w-14 h-3;
}
.theme-preview .tp-chip.tp-chip-4-10 {
  @apply w-24 h-3;
}
.theme-preview .tp-chip.tp-chip-6-10 {
  @apply w-32 h-3;
}
.theme-preview .tp-chip.tp-foreground {
  @apply bg-foreground-300;
}
.theme-preview .tp-chip.tp-secondary {
  @apply bg-secondary;
}
.theme-preview .tp-chip.tp-warning {
  @apply bg-warning;
}
.theme-preview .tp-chip.tp-sm {
  @apply h-2;
}
.theme-preview .tp-chip.tp-xs {
  @apply h-1;
}
.theme-preview .tp-dot {
  @apply w-3 h-3 bg-foreground-400 rounded-full;
}
.theme-preview .tp-dot.tp-dot-primary {
  @apply bg-primary;
}
.theme-preview .tp-dot.tp-dot-success {
  @apply bg-success;
}
.theme-preview .tp-dot.tp-dot-danger {
  @apply bg-danger;
}

button.theme-dot {
  @apply w-8 h-8 rounded-full border-2 border-foreground-400 flex items-center justify-center bg-transparent;
  padding: 3px
}

button.theme-dot.active {
  @apply border-primary border-3 scale-110 shadow-primary-200 shadow-lg;
}

button.theme-dot > div {
  @apply w-full h-full rounded-full bg-foreground-300 overflow-hidden flex flex-row rotate-45;
}

button.theme-dot > div > div {
  @apply w-1/2 h-full flex flex-col;
}

button.theme-dot > div > div::before,
button.theme-dot > div > div::after {
  content: "";
  @apply w-full h-1/2;
  filter: blur(1px);
}
button.theme-dot > div > :nth-child(1)::before {
  @apply bg-background hidden;
}
button.theme-dot > div > :nth-child(1)::after {
  @apply bg-foreground;
  filter: blur(10px);
}
button.theme-dot > div > :nth-child(2)::before {
  @apply bg-primary ;
}
button.theme-dot > div > :nth-child(2)::after {
  @apply bg-secondary ;
}

button.theme-dot > div > :nth-child(1) {
  @apply bg-background;
}