@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f0abfc;
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 23, 23, 23;
  --background: #ffffff;
  --bg-tailwind: rgb(255, 255, 255, var(--tw-bg-opacity));
  --fg-tailwind: rgb(23, 23, 23, var(--tw-bg-opacity));
  --foreground: #171717;
  --app-background: #f1f1f1;
  --app-background-rgb: 241, 241, 241;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-tailwind: rgb(10, 10, 10, var(--tw-bg-opacity));
    --fg-tailwind: rgb(237, 237, 237, var(--tw-bg-opacity));
    --background-rgb: 10, 10, 10;
    --background: #0a0a0a;
    --foreground-rgb: 237, 237, 237;
    --foreground: #ededed;
    --app-background: #171717;
    --app-background-rgb: 23, 23, 23;
  }
  * {
    @apply dark;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

*:not([data-slot="popover"], div[style]) {
  transition: .24s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*:active {
  transition: .048s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ponlponl123-article), sans-serif;
}

main#app {
  width: 100%;
  min-height: 100vh;
}

main.scrollbar > a,
main.scrollbar > button,
main.scrollbar > a > button {
  @apply w-full
}

main.scrollbar > div,
main.scrollbar > div > main {
  @apply w-full flex flex-col gap-2
}

main.scrollbar > button,
main.scrollbar > a > button,
main.scrollbar > div > button,
main.scrollbar > div > main > button {
  @apply text-start justify-start
}

main#app-workspace {
  @apply lg:px-12 lg:pt-16 max-lg:pt-24 max-lg:px-6 lg:max-w-screen-xl w-full mx-auto;
}

.main-bg {
  background: linear-gradient(0deg, rgb(var(--background-rgb)), rgb(var(--background-rgb), 0.48)), url(./../../public/backdrop.png) center no-repeat;
  background-size: cover;
}

.welcome-banner {
  background:  linear-gradient(0deg, rgb(var(--app-background-rgb)), rgb(var(--app-background-rgb), 0.24)), url(./../../public/welcome_banner.png) center no-repeat;
  background-size: cover;
}

.apphome-banner.evening,
.apphome-banner.morning {
  background:  linear-gradient(0deg, rgb(var(--app-background-rgb)), rgb(var(--app-background-rgb), 0.24)), url(./../../public/app/PonaWebViewMorning.png) center no-repeat;
  background-size: cover;
}

.apphome-banner.afternoon {
  background:  linear-gradient(0deg, rgb(var(--app-background-rgb)), rgb(var(--app-background-rgb), 0.24)), url(./../../public/app/PonaWebViewAfternoon.png) center no-repeat;
  background-size: cover;
}

.apphome-banner.night {
  background:  linear-gradient(0deg, rgb(var(--app-background-rgb)), rgb(var(--app-background-rgb), 0.24)), url(./../../public/app/PonaWebViewNight.png) center no-repeat;
  background-size: cover;
}

.status-block {
  @apply w-full max-w-screen-lg drop-shadow-lg rounded-3xl p-6 flex flex-col;
  background-color: rgb(var(--foreground-rgb), 0.04);
}

.service-list {
  @apply flex justify-between items-center p-4 rounded-xl;
  background-color: rgb(var(--background-rgb));
}
.service-list > h1 {
  width: 100%;
  font-size: 14px;
  font-family: var(--font-geist-mono);
}

.service-status-badge {
  @apply bg-opacity-25 rounded-full text-medium m-auto py-1 px-2 bg-gray-700 text-gray-700;
}
.service-status-badge::before { content: "Unknown" }

.service-status-badge.operational {
  @apply bg-opacity-25 bg-green-700 text-green-700;
}
.service-status-badge.operational::before { content: "Operational" }

.service-status-badge.degraded {
  @apply bg-opacity-25 bg-orange-400 text-orange-400;
}
.service-status-badge.degraded::before { content: "Degraded" }

.service-status-badge.down {
  @apply bg-opacity-25 bg-red-700 text-red-700;
}
.service-status-badge.down::before { content: "Down" }

.btn {
  @apply relative flex items-center justify-center active:opacity-90 mx-2 min-w-24
}

.btn > svg {
  @apply absolute select-none w-full h-full object-fill;
  transform: scale(108%);
  -webkit-user-drag: none;
  -moz-window-dragging: no-drag;
}

.btn > div {
  @apply flex flex-row items-center justify-center gap-2 z-10 py-4 px-8 text-xl
}

.btn:active {
  transform: scale(98%);
}

.btn.btn-icon {
  @apply min-w-4
}

.btn.btn-icon > div {
  @apply p-3
}

.btn.btn-size-small > div {
  @apply px-4 py-2 text-lg
}

.btn.btn-size-large > div {
  @apply px-8 py-3 text-2xl
}

.btn:not(.btn-rounded) > div {
  @apply px-6
}

.btn.btn-normal > div,
.btn.btn-primary > div {
  @apply text-white
}

.btn.btn-invert > div {
  @apply text-black
}

.btn.btn-text > div,
.btn.btn-border > div {
  @apply text-fuchsia-400
}

.btn.btn-normal > svg * {
  @apply fill-black
}

.btn.btn-invert > svg * {
  @apply fill-white
}

.btn.btn-border > svg *,
.btn.btn-primary > svg *,
.btn.btn-text > svg * {
  @apply fill-fuchsia-300
}

.btn.btn-text > svg * {
  @apply opacity-0
}

.btn.btn-normal:hover > svg * {
  @apply fill-gray-900
}

.btn.btn-invert:hover > svg * {
  @apply fill-gray-100
}

.btn.btn-border:hover > svg * ,
.btn.btn-primary:hover > svg * {
  @apply fill-fuchsia-200
}

.btn.btn-text:hover > svg * {
  @apply opacity-25
}

footer {
  @apply flex gap-6 items-center justify-center min-h-24 -mt-24 w-full relative p-6;
}

footer a {
  @apply flex items-center gap-2 hover:underline hover:underline-offset-4;
}

footer > div {
  @apply row-start-3 w-full flex flex-wrap gap-6 items-center justify-center;
}

footer > div:first-child,
footer > div:last-child {
  @apply w-1/4;
}

footer > div:first-child {
  @apply justify-start;
}

footer > div:last-child {
  @apply justify-end;
}

header {
  z-index: 90;
}

@media (max-width: 767px) {
  header nav.nav-opened-false {
    @apply invisible pointer-events-none opacity-0;
  }
  header nav > div:not(.header) {
    @apply flex flex-col items-center gap-5
  }
  header nav > div:nth-child(2) {
    @apply h-full
  }
  header nav > div {
    @apply w-full items-stretch px-6
  }
  header nav button {
    @apply w-full;
  }
  header nav a {
    @apply w-full;
  }
  header nav {
    @apply fixed top-0 left-0 w-full h-full flex flex-col p-6 pt-0;
    background-color: rgb(var(--background-rgb))
  }
  header.nav-opened-true {
    @apply fixed;
  }
  footer > div:first-child, footer > div {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media (max-width: 640px) {
  .service-list > h1 {
    @apply text-xs;
  }
}